.photo-container {
    position: relative; /* Establishes a positioning context for child elements */
}

/* Images */
.responsive-image {
    width: 40%; /* Adjust this value to make the image smaller */
    height: auto; /* Maintain the aspect ratio */
    max-width: 40%; /* Limits the image to 40% of the screen width */
    display: block; /* Remove any extra space below the image */
    float: left; /* Align image to the left */
    margin-top: 50px; /* No margins */
    padding: 0; /* No padding */
    transition: filter 0.3s ease; /* Smooth transition for blur effect */
}

/* Image hover effect */
.responsive-image:hover {
    filter: blur(5px); /* Apply blur effect on hover */
}

/* Optional: Media query for larger screens */
@media (min-width: 768px) {
    .responsive-image {
        width: 35%; /* Make the image take up 35% of the width on larger screens */
    }
}

/* Heading Styles */
h1 {
    color: #3a67b1;
    font-family: "Playfair Display", serif;
    font-size: 120px;
    font-weight: 400;
    margin: 0; /* Remove default margins */
    display: inline-block; /* Allows h1 to sit next to other inline elements */
    transform: translateX(10%);
    margin-top: 50px;
}


.photo-container {
    position: relative; /* Establishes a positioning context for absolutely positioned children */
}

.responsive-image {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below image */
}
.hover-title, .hover-text {
    display: none; /* Initially hide the title and text */
    position: absolute; /* Position them over the image */
    color: #3a67b1; /* Text color */
    padding: 20px; /* Padding around the text */
    text-align: left; /* Align text to the left */
    width: 80%; /* Make the width responsive */
    z-index: 10; /* Ensure they are above other elements */
    transform: translate(0%, 0%); /* Remove or adjust the centering transform */
}

.hover-title {
    top: 30%; /* Position the title higher on the image */
    transform: translate(50%, 1%); /* Center the text vertically */
}

.hover-text {
    top: 70%; /* Adjust this value to move the text lower on the image */
    transform: translate(70%, 80%); /* Center the text vertically */
    width: 800px;
    font-size: 18px;
}

.photo-container:hover .hover-title,
.photo-container:hover .hover-text {
    display: block; /* Show title and text when hovering over the photo container */
}

